<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/apple/poc/Test/src/test/java/org/example/FolderControllerTest.java">
        <classes>
            <class name="org.example.FolderControllerTest">
                <methods>
                    <include name="testGetFolder"/>
                    <include name="testAssociateGroup"/>
                    <include name="testRemoveGroup"/>
                    <include name="testSetGroupPermissions"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>